/* WhiteSpaces:
- SPACING SYSTEM (px)  */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128  


- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

html {
  font-size: 62.5%;
  font-family: 'Press Start 2P', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/img/background.gif);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(220, 220, 220);
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.centering {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ****************** */
/* HEADLINE */
/* ****************** */

.headline {
  font-size: 4.4rem;
  margin-bottom: 6.4rem;
}

/* ****************** */
/* RESULT SECTION */
/* ****************** */

.section-results {
  width: 120rem;
  font-size: 3.2rem;
  display: flex;
  gap: 6rem;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result p {
  margin-bottom: 2.4rem;
}

.round-figure {
  width: 25rem;
  height: 25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid rgb(220, 220, 220);
  background-color: rgba(240, 248, 255, 0.131);
}

.round-figure img {
  width: 18rem;
}
.round-figure p {
  font-size: 6.4rem;
}

.show {
  display: none;
}

.hide {
  display: none;
}

/* .win {
  border: 5px solid rgba(255, 143, 5, 0.911);
}

.robo-win {
  border: 5px solid rgba(15, 15, 15, 0.911);
} */

/* ****************** */
/* MODAL FINAL */
/* ****************** */

.final-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.6rem;

  background-color: rgba(255, 255, 255, 0.882);
  color: #333;
  padding: 6rem;
  z-index: 10;
}

.final-headline {
  font-size: 4.6rem;
  text-align: center;

  line-height: 1.4;
}

.final-par {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 5;
}
.close-modal {
  font-size: 2.4rem;
  color: #333;
  cursor: pointer;
  background: none;
  font-family: inherit;
  padding: 1.8rem;
  border: 3px solid #333;

  margin-top: auto;
}

.hidden {
  display: none;
}

/* ****************** */
/* ROUND SCORE */
/* ****************** */

.section-round-score {
  margin-bottom: 4.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

#round-count {
  font-size: 4.4rem;
}
.container-round-message {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(220, 220, 220);
  color: #ff2f17;

  padding: 1.4rem;
  width: 80rem;
  font-size: 1.6rem;
  position: relative;
}

/* ****************** */
/* ROUND CHOICE*/
/* ****************** */

.section-round-choice {
  width: 120rem;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4.8rem;
}

.figure-choice {
  width: 25rem;
  height: 25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid rgb(220, 220, 220);
  background-color: rgba(240, 248, 255, 0.131);
}
.img-choice {
  width: 18rem;
}

/* ****************** */
/* BTN RESTART*/
/* ****************** */

#restart-btn {
  font-family: inherit;
  padding: 1.8rem;

  background-color: #ffffff00;
  border: 3px solid rgb(220, 220, 220);
  color: rgb(220, 220, 220);
}

.robot {
  width: 24rem;
  right: 27rem;
  filter: grayscale(100);
  position: absolute;
  left: 62rem;
  bottom: 5rem;
}

.div-position-robot {
  position: relative;
}
.robot-final {
  left: 10rem;
  bottom: -6.2rem;
  position: absolute;
}
